body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e80505;
  font-weight: 100;
}

.nav {
  display: flex;
}

.nav li {
  margin: auto;
}

.nav button {
  color: #000000;
  border-color: #0a0a0a;
  background: #ffffff;
  border: solid;
  border-width: 1px;
  font-size: 14px;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  text-align: center;
  margin: right;
}

.nav button:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
}

.nav button:active {
  transform: translateY(1px);
}

.active {
  font-weight: bold;
}

.logotype {
  font-weight: 700;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
  justify-content: center;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversation-cell {
  display: flex;
  margin: 10px;
}

img {
  border-radius: 50%;
}